.home-img {
    background-image: url('images/home page img.jpg'); 
    background-size:cover ;
}

body {
    color: blue;
    background-color: #6495ED
}

ul li {
    display: inline-block; 
} 

h1 {
    color: white;
    text-align: center
}
 ul
    
.food img {
    width:175px;
    height:150px;
}

h3 {
    font-size: 10px;
<<<<<<< HEAD
}

.about-page {
    background-image: url("images/about.gif");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
=======
}
>>>>>>> 0c9f1f5e1b9d104b46c6eefce7adeb471ddf4fa8
