body {
    color: blue;
    background-color: #6495ED
}
ul li {
    display: inline-block;
}

h1 {
    color: black;
    text-align: center
}
head {
    background-image: ;
}

h3 {
    font-size: 100px;
}